<p class="mt-3 text-center">Bienvenue sur Explosion Amicale !</p>
<p class="text-center" *ngIf="!isOk">Entrer votre pseudo pour commencer à jouer.</p>
<ion-item *ngIf="!isOk" class="padding-left padding-right">
  <ion-label position="floating">Pseudo : </ion-label>
  <ion-input type="text" [(ngModel)]="pseudo" ></ion-input>
</ion-item>
<ion-label class="padding-left" *ngIf="pseudoIncorrect">Le pseudo ne pas être vide</ion-label>
<div class="divBtn" *ngIf="!isOk">
  <ion-button (click)='submit()'>Valider</ion-button>
</div>
<p class=" text-center" *ngIf="isOk">Nous recherchons un autre joueur, merci de patienter.</p>