<div class="row px-2">
  <div class="col-6 border border-dark"> {{game.Players[0].pseudo}}</div>
  <div  class="col-6 border border-dark"> <ion-button  (click)="addPlayerToGame()"> <i class="fas fa-play"></i>  </ion-button> </div>
</div>
