.borderCustom{
    border: 1px solid black;
    width:100%;
    height:50px;
    background-color: cornflowerblue;
}

.goodColor{
    background-color: green;
}

.badColor{
    background-color: red;
}