<ion-header>
  <ion-toolbar>
    <ion-title>wait</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-center py-3">
    <h2>En attente d'un joueur...</h2>
  </div>
  <div class="text-center py-3">
    <i class="fas fa-spinner fa-pulse fa-7x"></i>
  </div>
  <div class="text-center">
    <ion-button  (click)="killGame()" color="danger"> Annuler </ion-button>
  </div>
</ion-content>
