<ion-header>
  <ion-toolbar>
    <ion-title>games-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="padding-left">Choisissez une partie ou créez en une</p>
  <div class="padding-left divBtn mb-3">
    <ion-button (click)='submit()'>Créer une partie</ion-button>
  </div>
  <div class="divBtn mb-3 container">
    <h3 class="text-center">Parties en attente :</h3>
    <div class="row font-weight-bold px-2">
      <div class="col-6 border border-dark py-2">Joueur</div>
      <div class="col-6 border border-dark py-2">Rejoindre</div>
    </div>
    <app-games-list-component *ngFor="let game of games" [game]="game"></app-games-list-component>
    
  </div>
 
</ion-content>
