<ion-header>
  <ion-toolbar>
    <ion-title class="text-center p-0">{{text}}</ion-title>
    <div *ngIf="gameEnd" class="text-center">
      <ion-button (click)='newGame()'>Rejouer</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-grid-game (info)="getInfo($event)" *ngIf="adID" [playerID]="adID"
    [ngClass]="isYourTurn ? 'turn row' : 'glass row'"></app-grid-game>
  <p class="text-center" *ngIf="adversaire">Adversaire {{ adversaire.pseudo }}</p>
  <app-grid-me *ngIf="meID" [playerID]="meID" [adID]="adID" class="row"></app-grid-me>
  <p class="text-center" *ngIf="me">Mon jeu {{ me.pseudo }}</p>
</ion-content>