<ion-header>
  <ion-toolbar>
    <ion-title>Mines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h3>Placez vos mines</h3>
  </div>
  <div>
    <app-grid (casesValided)="onCasesValided($event)" [fiveCases] = "fiveCases"></app-grid>
  </div>
  <div class="ion-text-center">
    <ion-button color = {{colorButton}} disabled={{!fiveCases}} (click)="onValidPlayer()">Valider</ion-button>
  </div>
  
</ion-content>
