<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Bienvenue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-formcrea (info)="getPseudo($event)" [isOk]="isOk"></app-formcrea>
</ion-content>
